
<div class="panel panel-success">
    <div class="panel-heading">Chart properties</div>
    <div class="panel-body">
        <div class="input-group">
            <label for="fill-color">Fill Color</label>
            <input id="fill-color" colorpicker="rgba" class="form-control" type="text" ng-model="chart.datasets[0].fillColor">
        </div>
        <div class="input-group">
            <label for="stroke-color">Stroke Color</label>
            <input id="stroke-color" colorpicker="hex" class="form-control" type="text" ng-model="chart.datasets[0].strokeColor">
        </div>
        <div class="input-group">
            <label for="point-color">Point Color</label>
            <input id="point-color" colorpicker="rgba" class="form-control" type="text" ng-model="chart.datasets[0].pointColor">
        </div>
        <div class="input-group">
            <label for="point-stroke-color">Point Stroke Color</label>
            <input id="point-stroke-color" colorpicker="hex" class="form-control" type="text" ng-model="chart.datasets[0].pointStrokeColor">
        </div>
        <div class="input-group">
            <label for="point-highlight-fill">Point Highlight Fill</label>
            <input id="point-highlight-fill" colorpicker="hex" class="form-control" type="text" ng-model="chart.datasets[0].pointHighlightFill">
        </div>
    </div>
</div>