<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th class="placeholders">#</th>
        <th class="placeholders">Pipeline</th>
        <th class="placeholders" colspan="2">Build Time</th>
        <th class="placeholders">Duration (s)</th>
        <th class="placeholders">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="datum in data | orderBy:time">
        <td>{{$index + 1}}</td>
        <td>
            <input type="text" ng-model="datum.pipeline" class="form-control">
        </td>
        <td>
            <input type="text" class="form-control" ng-model="datum.time" data-autoclose="1" placeholder="Date"
                   bs-datepicker style>
        </td>
        <td>
            <input type="text" class="form-control" ng-model="datum.time" data-autoclose="1" placeholder="Time"
                   bs-timepicker style>
        </td>
        <td>
            <input type="number" ng-model="datum.duration" class="form-control">
        </td>
        <td>
            <select ng-model="datum.status" class="form-control">
                <option value="pass">pass</option>
                <option value="fail">fail</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>